<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lcpredictor.mapper.LcPredictMapper">

    <resultMap id="BaseResultMap" type="com.example.lcpredictor.domain.LcPredict">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="contestId" column="contest_id" jdbcType="INTEGER"/>
        <result property="dataRegion" column="data_region" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="rank" column="rank" jdbcType="INTEGER"/>
        <result property="oldRating" column="old_rating" jdbcType="DOUBLE"/>
        <result property="newRating" column="new_rating" jdbcType="DOUBLE"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,contest_id,data_region,
        username,rank,old_rating,
        new_rating,deleted,create_time,
        update_time
    </sql>
</mapper>
